{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block script %}
{{ super() }}
<script>
    $(document).ready(function(){

        // display datepicker .

          $(".text-danger").hide();

           var errorInForm = false;

          $("#date").datepicker({onSelect: function(dateText, inst)

            {
               var selectedDate = $(this).datepicker("getDate");
               if (selectedDate > new Date())
               {

                $(".text-danger").show();


                errorInForm=true;

               }

               else
               {
                $(".text-danger").hide();
                errorInForm = false;

               }


            }
        });


        var total_amounts = [];

        $("#customerName").on("click",function()
        {
             var customer_name = $(this).children("option:selected").val();



            $.ajax
            ({
                type:"POST",
                url: "/get_order_numbers",
                data: {customer_name:customer_name},
                success:function(data){

                    total_amounts = data.total_amount;
                    var $el = $("#order_no");
                    $el.empty(); // remove old

                    //update select field..
                    $.each(data.order_ids, function(index, element) {
                            $el.append($("<option></option>").attr("value", element).text(element));
                            //display first element first..
                            $("#total_amount").val(data.total_amount[0]);


                    });



                },


            });





         });

         //change total amount based on order selected..

        $(document).on("change", "#order_no" , function()
            {


                var index = $("#order_no option:selected").index();
                $("#total_amount").val(total_amounts[index]);



             });


         $("#paymentForm").submit(function(e){

            if (errorInForm) {

                e.preventDefault();

            }



         });






    });



</script>
{% endblock script%}


{% block content %}

<form id="paymentForm" method="POST" action="/add_payment">
        <fieldset>
            <legend class="border-bottom mb-4"> Add Payment </legend>

            <div class="form-group row" >
                <div class="col-md-6">
                    <label for="customerName">Customer Name</label>
                    <select class="form-control" id="customerName" name="customerName">
                        <option value="" selected disabled hidden>Please Select customer</option>


                                {% for name in customers %}
                                    <option>{{name}}</option>
                                {% endfor %}

                    </select>

                </div>

            </div>


            <div class="form-group row" >
                <div class="col-md-6">
                    <label for="order_no">Order No</label>
                    <select class="form-control" id="order_no" name="no_order" selected="selected">

                    </select>

                </div>

            </div>




            <div class="form-group row">
                <div class="col-md-6">
                    <label for="bank">Bank</label>
                    <input type="text" class="form-control" id="bank" placeholder="Bank name" name="bank_name" required>

                </div>

             </div>


             <div class="form-group row">
                <div class="col-md-6">
                    <label for="date">Date</label>
                    <input type="text" class="form-control" id="date" placeholder="Date" name="date" required>
                    <span class="text-danger"> Invalid date entry</span>

                </div>

             </div>

             <div class="form-group row">
                <div class="col-md-6">
                    <label for="amount_paid">Amount Paid</label>
                    <input type="number" class="form-control" id="amount_paid" placeholder="Amount Paid" name="amount_paid" min="0" step="any" required>

                </div>

             </div>


             <div class="form-group row">
                <div class="col-md-6">
                    <label for="total_amount">Total Amount</label>
                    <input type="number" class="form-control" id="total_amount" placeholder="Total Amount" name="total_amount" readonly>

                </div>

             </div>

            <!--<div class="form-group row">
                            <select name ="startYear">
                <option value="" disabled="disabled"  style="display:none" selected="selected">Please select a year</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
            </select>


             </div>-->

            <div class="form-group row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary" id="button">Save Changes</button>
                </div>

            </div>





        </fieldset>


    </form>



{% endblock content %}