{% extends "index.html" %}

{% block content %}

<div id="test">40</div>


<table id="view_order_tables" class="table table-hover" style="margin-top: 1.5em;">
      <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center"> Product</th>
            <th scope="col" class="text-center"> Quantity </th>
            <th scope="col" class="text-center"> Rate</th>
            <th scope="col" class="text-center">Amount (Naira) </th>

        </tr>
      </thead>


</table>






{% endblock content %}