{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block script %}
{{ super() }}
<script>
    TESTER = document.getElementById('tester');
    dates = [];
    quantity = [];
    var dict = JSON.parse('{{date_range | tojson}}');
    console.log(dict);

    for (var key in dict){

        dates.push(key);
        quantity.push(dict[key]);


    }

    var data =
    [
    {
    x: dates,
    y: quantity,
    type: 'bar'
    }
    ];



	Plotly.newPlot( TESTER, data);

</script>
{% endblock script %}

{% block content %}

<div id="tester" >





</div>

{% endblock content %}