{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}




{% block content %}

<div class="container dp">


    <form id="view_product" action="/view_product" method="POST">


        <div class="form-group">
            <label for="choose">Choose product</label>
            <select class="form-control" id="choose" name="selected_product">
                {% for name in products %}
                    <option value="{{name}}">{{name}}</option>
                {% endfor %}
            </select>
        </div>


        <div class="form-group ">
            <div class="bottom-margin"> Start Date: <input type="text" id = "start_datepicker" name="start_date" class="form-control" placeholder="Enter Date" aria-label="Enter Date" aria-describedby="basic-addon1"></div>
            <span class="text-danger" id="start_date"> Invalid Start date entry</span>
        </div>


        <div class="form-group ">

            <div class="bottom-margin" > End Date: <input type="text" id = "end_datepicker"  name="end_date" class="form-control" placeholder="Enter Date" aria-label="Enter Date" aria-describedby="basic-addon1"></div>

                <span class="text-danger" id="end_date"> Invalid End date entry </span>
        </div>
        <input type="submit"  class="btn btn-primary" value="submit"/>


    </form>



    <table id="product_tables" class="table table-hover" style="margin-top: 1.5em;">
      <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center"> Product Name</th>
            <th scope="col" class="text-center">Total Quantity of Bags </th>
        </tr>
      </thead>
      <tbody>

        <tr>
            <td align="center">{{key}}</td>
            <td align="center">{{key}}</td>
        </tr>

      </tbody>
    </table>

</div>



{% endblock content %}
